<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- La libreria è una cartella sincronizzata da FolderSync, fuori dallo
         spazio privato dell'app: leggerla attraverso il Storage Access
         Framework costerebbe una chiamata di piattaforma per immagine.
         Vedere docs/design.md. -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- In rete vanno i dati personali di chi ha fatto l'accesso con Google
         e, con Drive collegato, le tavole lette o scaricate da lì e i file
         della sincronizzazione della cartella. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Da Android 13 una notifica va chiesta: servono ad avvisare che è
         arrivato un capitolo nuovo di una serie seguita. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- La sincronizzazione programmata con Drive gira in primo piano, con
         una notifica: una libreria sono gigabyte, e un lavoro in background
         ha dieci minuti. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Il chiaro serve a Kagami Server in casa o dentro Tailscale
         (http://192.168.…, http://nome-server): gli indirizzi sono dell'utente
         e non si possono elencare in una network security config. L'app
         avvisa quando un http:// è pubblico (`isPrivateAddress`). -->
    <application
        android:label="Kagami"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Il servizio con cui WorkManager tiene in primo piano
             FolderSyncWorker: da Android 14 deve dichiarare che cosa fa. -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
